.inputWrap + .inputWrap {
  margin-top: 20px;
}
.loginForm input {
  display: block;
  width: 260px;
  height: 2.3em;
  margin: 0 auto;
  padding: 3px 10px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 20px;

  &[type="submit"] {
    width: 100px;
    cursor: pointer;
    border: none;
    background: #3879d9;
    color: #fff;
    outline: none;
  }
}
